{% extends 'base_course.html' %}

{% block subtitle %}
  {# I18N: Title of the course FAQ webpage. #}
  {{ gettext('FAQ') }}
{% endblock subtitle %}

{% block top_content %}
  <div>
      {% include 'summary.html' %}
    </div>
{% endblock %}

{% block main_content %}

<section class="main">
      <div class="wrap">
      <section class="box left">
        <div class="boxInner">

          <h2>
            {# I18N: Title of the student FAQ page.#}
            {{ gettext('FAQ') }}
          </h2>


        </div>
      </section>
    </div>
</section>
{% endblock %}
