{% extends 'base_course.html' %}

{% block gcb_page_info %}
  if ('gcbSetPageInfo' in window) {
    gcbSetPageInfo({
      'page_type': 'register',
    });
  }
{% endblock %}

{% block top_content %}
  {% include 'summary.html' %}
{% endblock %}



{% block main_content %}

<section class="main">
      <div class="wrap">
      <section class="box left">
        <div class="boxInner">

        <p>
          {{course_info.reg_form.header_text | safe}}
        </p>

        <form action="register" method='post'>
          <input type="hidden" name="xsrf_token" value="{{ register_xsrf_token|escape }}">
          <fieldset>
            <ol>
              <li>
                <label class="gcb-reg-form-label" for="form01">
                  {# I18N: A question in the registration form. #}
                  {{ gettext('What is your name?') }}
                </label>
                {# I18N: A question in the registration form. #}
                <input
                  name="form01" id="form01" type="text"
                  value="{{ current_name|escape }}"
                  aria-label="{{ gettext('What is your name?') }}">
              </li>
              <li>
                <label for="form02">What is your favorite ice-cream?<br></label><br>
                <input id="form02" name="form02" type="textbox">
              </li>
              {% if course_info.reg_form.additional_registration_fields %}
                {{course_info.reg_form.additional_registration_fields | safe}}
              {% else %}
                <!-- reg_form.additional_registration_fields -->
              {% endif %}
            </ol>
          </fieldset>

          <button class="button" type="submit">
            {# I18N: Button at the end of the registration form for a course. #}
            {{ gettext('Enroll') }}
          </button>
        </form>

      </div>
    </section>
    </div>
</section>
{% endblock %}
